<div class="dashboard-container">
    <div class="row h-100 g-0">
        <!-- Left Sidebar - Chart Selector -->
        <div class="col-md-3 sidebar">
            <app-chart-selector 
                (chartSelected)="onChartSelected($event)">
            </app-chart-selector>
        </div>

        <!-- Right Main Content - Chart Display -->
        <div class="col-md-9 main-content">
            <app-chart-container [chartType]="selectedChart"></app-chart-container>
        </div>
    </div>
</div>